h2 {
    font-family: "etna", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fad5ad;
    font-size: 50px;
}

caption {
    font-family: "etna", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fad5ad;
    font-size: 20px;
}