.container {
    margin: 20px 50px;
    border: 1px solid black;
    padding: 100px;
    background-color: white;
}

body {
    background-image: url("../images/background.jpeg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 214, 210);
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.nav li a:hover {
    background-color: rgb(230, 144, 144);
}

.active-navpage{
    background-color: rgb(235, 176, 176)
}




.img-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.img-wrapper {
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
}

img {
    max-height: 350px; 
    width: auto;
    display: block;
}

.caption {
    margin-top: 5px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.img-wrapper:hover {
    transform: scale(1.1);
}
